{% extends 'layout.html' %}

{% block body %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Login</li>
</ol>

<div class="jumbotron">
    <form action="/authenticate" method="POST">
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <div class="alert"></div>
    <span><a href="/signup">Create account</a></span>
</div>

{% endblock %}